<style>
</style>
<template>
    <md-dialog ref="successDialog" :md-active.sync="active" :md-click-outside-to-close=false >
        <md-dialog-title style="text-align: center; background-color: #095028; color: white; padding-bottom: 1em">
            Sucesso!
        </md-dialog-title>
        <md-dialog-content style="text-align: center; color:#095028">
            <div>
                <br/>
                {{message}}
            </div>
            <div v-if="first_line">
                <br/>
                {{first_line}}
            </div>
            <div v-if="second_line">
                {{second_line}}
            </div>
        </md-dialog-content>

        <md-dialog-actions>
            <md-button class="md-icon-button" @click="closeDialog('successDialog')">
                <md-icon style="color: #095028">close</md-icon>
            </md-button>
        </md-dialog-actions>
    </md-dialog>
</template>
<script src="./successDialog.js"></script>