<style>
</style>
<template>
    <div>
        <md-dialog ref="EditArea" style="color: #095028; width: 400px"
                   :md-active.sync="active" :md-click-outside-to-close="false"
                   :md-close-on-esc="false">
            <md-dialog-title
                    style="text-align: center; background-color: #095028; color: white;  padding-bottom: 1em">
                Editar área
            </md-dialog-title>
            <md-dialog-content>
                <md-field>
                    <label style="color: #095028">Nome da área</label>
                    <md-input v-model="area.label"></md-input>
                </md-field>
                <md-field>
                    <label style="color: #095028">Descrição da disciplina</label>
                    <md-textarea v-model="area.description"></md-textarea>
                </md-field>


                <md-button style="background-color: #095028; color: white"
                           v-if="primary" @click="primary = false"
                           class="md-raised">
                    <md-icon style="color: white">add</md-icon>
                    Disciplinas
                </md-button>

                <md-button style="background-color: #095028; color: white"
                           v-else="" @click="primary = true" class="md-raised">
                    <md-icon style="color: white">arrow_back</md-icon>
                    Voltar
                </md-button>

                <md-table v-if="primary" v-model="new_subjects" md-fixed-header>
                    <md-table-row slot="md-table-row" slot-scope="{ item }"
                                  style="color: #095028">
                        <md-table-cell md-label="Disciplinas">
                            {{item.label}}
                        </md-table-cell>
                        <md-table-cell md-label="  ">
                            <md-button class="md-icon-button"
                                       @click="remove_subject(item)">
                                <md-icon style="color: #c9212c">clear</md-icon>
                            </md-button>
                        </md-table-cell>
                    </md-table-row>
                </md-table>

                <md-table v-else="" v-model="subjects" md-fixed-header>
                    <md-table-row slot="md-table-row" slot-scope="{ item }"
                                  style="color: #095028">
                        <md-table-cell md-label="Adicionar disciplinas">
                            {{item.label}}
                        </md-table-cell>
                        <md-table-cell md-label="  ">
                            <md-button class="md-icon-button"
                                       @click="add_subject(item)">
                                <md-icon style="color: #095028">add</md-icon>
                            </md-button>
                        </md-table-cell>
                    </md-table-row>
                </md-table>
            </md-dialog-content>
            <md-dialog-actions>
                <md-button
                        style="background-color: #095028; color: white"
                        class="md-raised" @click="edit_area()">
                    Salvar
                </md-button>

                <md-button style="color: #095028" @click="closeDialog()">
                    Cancelar
                </md-button>
            </md-dialog-actions>
            <loadingDialog></loadingDialog>
        </md-dialog>
    </div>
</template>
<script src='./editArea.js'></script>