<template>
    <div style="margin-top: 2em; margin-bottom: 2em; margin-left:20em; margin-right: 20em">
        <md-card v-if="active_bar === 'settings'">
<!--HEADER-->
            <md-toolbar style="background-color: #095028; padding-top: 1em;">
                <h1 class="md-title" style="color:#C8E6C9;">
                    <md-icon class="md-size-2x" style="color: #C8E6C9">
                        settings
                    </md-icon>
                    Configurações
                    <md-subheader style="color:#C8E6C9;">
                        Atualize as informações do processo abaixo:
                    </md-subheader>
                </h1>

<!--DIAL DE CRIAÇÃO-->
                <div>
                    <md-speed-dial md-direction="bottom" class="md-top-right">
                        <md-speed-dial-target style="background-color: #C8E6C9">
                            <md-icon class="md-morph-initial"
                                     style="color: #095028">add
                            </md-icon>
                            <md-icon class="md-morph-final"
                                     style="color: #095028">edit
                            </md-icon>
                        </md-speed-dial-target>
                        <md-speed-dial-content>
                            <md-button class="md-icon-button"
                                       style="background-color: #C8E6C9">
                                <md-tooltip md-direction="bottom"
                                            style="background-color: #095028; color: white">
                                    Adicionar curso.
                                </md-tooltip>
                                <md-icon style="color: #095028">note_add
                                </md-icon>
                            </md-button>

                            <md-button class="md-icon-button"
                                       style="background-color: #C8E6C9;">
                                <md-tooltip md-direction="bottom"
                                            style="background-color: #095028; color: white">
                                    Adicionar área.
                                </md-tooltip>
                                <md-icon style="color: #095028">library_add
                                </md-icon>
                            </md-button>

                            <md-button class="md-icon-button"
                                       style="background-color: #C8E6C9;">
                                <md-tooltip md-direction="bottom"
                                            style="background-color: #095028; color: white">
                                    Adicionar disciplina.
                                </md-tooltip>
                                <md-icon style="color: #095028">playlist_add
                                </md-icon>
                            </md-button>
                        </md-speed-dial-content>
                    </md-speed-dial>
                </div>
            </md-toolbar>
<!--ABAS-->
            <md-tabs md-alignment="centered">
<!--ABA DE CURSOS-->
                <md-tab id="courses" md-label="Cursos">
                    <md-field>
                        <label>Initial Value</label>
                        <md-input v-model="pey" class="md-primary"></md-input>
                    </md-field>

                </md-tab>
<!--ABA DE ÀREAS-->
                <md-tab id="area" md-label="Áreas">
                    <md-table style="height: 460px" v-if="active_table" v-model="active_areas" md-card md-fixed-header>
                        <md-table-toolbar style="background-color: #C8E6C9">
                            <h2 style="color: #095028">
                                Áreas ativas
                            </h2>
                            <h2 style="margin-left: 1em; margin-right: 1em; color: #095028"> | </h2>
                            <md-button style="color: #acc6ad" @click="removed_table = true; active_table = false">
                                Áreas removidas
                            </md-button>
                        </md-table-toolbar>
                        <md-table-row slot="md-table-row" slot-scope="{ item }"
                                      style="color: #095028">
                            <md-table-cell md-label="Nome da área">{{item.label}}</md-table-cell>
                            <md-table-cell md-label="Descrição da área" style="text-align: center">
                                <md-tooltip>{{item.description}}</md-tooltip>
                                <md-icon style="color: #095028">comment</md-icon>
                            </md-table-cell>

                            <md-table-cell md-label="Disciplinas"  style="width: 18em;">
                                <md-chip v-for="subject in item.subjects" style="background-color: #095028; color: white">
                                    {{ subject.label }}
                                </md-chip>
                            </md-table-cell>
                            <md-table-cell md-label="Editar área">
                                <md-button class="md-icon-button"
                                           @click="edit_area(item)">
                                    <md-icon style="color: #2196F3">mode_edit
                                    </md-icon>
                                    <md-tooltip md-direction="top"
                                                style="background-color: #095028; color: white">
                                        Editar área.
                                    </md-tooltip>
                                </md-button>
                            </md-table-cell>
                            <md-table-cell md-label="Excluir área">
                                <md-button class="md-icon-button"
                                           @click="remove_area(item)">
                                    <md-icon style="color: #c9212c">clear
                                    </md-icon>
                                    <md-tooltip md-direction="top"
                                                style="background-color: #095028; color: white">
                                        Excluir área.
                                    </md-tooltip>
                                </md-button>
                            </md-table-cell>
                        </md-table-row>
                    </md-table>

                    <md-table style="height: 460px" v-if="removed_table" v-model="disabled_areas" md-card md-fixed-header>
                        <md-table-toolbar style="background-color: #C8E6C9">
                            <md-button style="color: #acc6ad" @click="removed_table = false; active_table = true">
                                Áreas ativas
                            </md-button>
                            <h2 style="margin-left: 1em; margin-right: 1em; color: #095028"> | </h2>
                            <h2 style="color: #095028">
                                Áreas removidas
                            </h2>
                        </md-table-toolbar>
                        <md-table-row slot="md-table-row" slot-scope="{ item }"
                                      style="color: #095028">
                            <md-table-cell md-label="Nome da área">{{item.label}}</md-table-cell>
                            <md-table-cell md-label="Descrição da área">
                                <md-tooltip>{{item.description}}</md-tooltip>
                                <md-icon style="color: #095028">comment</md-icon>
                            </md-table-cell>
                            <md-table-cell md-label="Disciplinas" style="width: 18em">
                                <md-chip v-for="subject in item.subjects" style="background-color: #095028; color: white">
                                    {{ subject.label }}
                                </md-chip>
                            </md-table-cell>
                            <md-table-cell md-label="Editar área">
                                <md-button class="md-icon-button"
                                           @click="edit_area(item)">
                                    <md-icon style="color: #2196F3">mode_edit
                                    </md-icon>
                                    <md-tooltip md-direction="top"
                                                style="background-color: #095028; color: white">
                                        Editar área.
                                    </md-tooltip>
                                </md-button>
                            </md-table-cell>
                            <md-table-cell md-label="Reativar área">
                                <md-button class="md-icon-button"
                                           @click="reactivate_area(item)">
                                    <md-icon style="color: #4CAF50">redo
                                    </md-icon>
                                    <md-tooltip md-direction="top"
                                                style="background-color: #095028; color: white">
                                        Reativar área.
                                    </md-tooltip>
                                </md-button>
                            </md-table-cell>
                        </md-table-row>
                    </md-table>
                </md-tab>
<!--ABA DE DISCIPLINAS-->
                <md-tab id="subjects" md-label="Disciplinas">
                    <md-table v-model="subjects" md-fixed-header>
                        <md-table-row slot="md-table-row" slot-scope="{ item }"
                                      style="color: #095028">
                            <md-table-cell md-label="Nome da disciplina">
                                {{item.label}}
                            </md-table-cell>
                            <md-table-cell md-label="Código da disciplina">
                                {{item.code}}
                            </md-table-cell>
                            <md-table-cell md-label="Editar disciplina">
                                <md-button class="md-icon-button"
                                           @click="edit_subject(item)">
                                    <md-icon style="color: #2196F3">mode_edit
                                    </md-icon>
                                    <md-tooltip md-direction="top"
                                                style="background-color: #095028; color: white">
                                        Editar disciplina.
                                    </md-tooltip>
                                </md-button>
                            </md-table-cell>
                            <md-table-cell md-label="Excluir disciplina">
                                <md-button class="md-icon-button"
                                           @click="remove_subject(item)">
                                    <md-icon style="color: #c9212c">clear
                                    </md-icon>
                                    <md-tooltip md-direction="top"
                                                style="background-color: #095028; color: white">
                                        Excluir disciplina.
                                    </md-tooltip>
                                </md-button>
                            </md-table-cell>
                        </md-table-row>
                    </md-table>
                </md-tab>
            </md-tabs>
<!--COMPONENTES-->
            <EditSubject></EditSubject>
            <successDialog></successDialog>
            <loadingDialog></loadingDialog>
            <RemoveSubject></RemoveSubject>
            <RemoveArea></RemoveArea>
            <ReactivateArea></ReactivateArea>
            <EditArea></EditArea>
        </md-card>
    </div>
</template>

<script src="./AdminScreen.js"></script>
