<style>
</style>
<template>
    <md-dialog ref="removeArea" :md-active.sync="active">
        <md-dialog-title style="text-align: center; background-color: #095028; color: white;  padding-bottom: 1em">
            <strong>Remover área</strong>
        </md-dialog-title>

        <md-dialog-content style="text-align: center; color: #095028">
            <br/>
            Deseja realmente remover a área?
        </md-dialog-content>

        <md-dialog-actions>
            <md-button class="md-button md-raised" style="background-color: #095028; color: white;" @click="removeArea()">
                Sim
            </md-button>
            <md-button class="md-button md-raised" style="color: #095028" @click="closeDialog()">
                Fechar
            </md-button>
        </md-dialog-actions>
    </md-dialog>
</template>
<script src="./removeArea.js"></script>