<style>
    .icon {
        width: 36px;
        min-width: 36px;
        height: 36px;
        min-height: 36px;
        font-size: 36px;
    }

</style>
<template>
    <md-toolbar style="background-color: #C8E6C9">
        <img src="../../assets/ESAG_verde.jpg" style="max-height: 3em">
        <h3 style="color: #095028; padding-left: 3px; padding-right: 10px">
            Pós-Graduação</h3>

        <div v-if="!user.type && user.email">
            <md-button class="md-raised"
                       style="color: #C8E6C9; background-color: #095028; height: 56px"
                       v-if="active_bar === 'primary'">
                <md-icon class="icon" style="padding-left: 2px; color: #C8E6C9">
                    people
                </md-icon>
                <br>
                Candidatos
            </md-button>
            <md-button style="color: #095028; height: 56px" v-else=""
                       @click="change_bar('primary')">
                <md-icon class="icon" style="padding-left: 2px; color: #095028">
                    people
                </md-icon>
                <br/>
                Candidatos
            </md-button>
        </div>
        <div v-if="!user.type && user.email">
            <md-button class="md-raised"
                       style="color: #C8E6C9; background-color: #095028; height: 56px"
                       v-if="active_bar === 'settings'">
                <md-icon class="icon" style="padding-left: 2px; color: #C8E6C9">
                    settings
                </md-icon>
                <br>
                Configurações
            </md-button>
            <md-button style="color: #095028; height: 56px" v-else=""
                       @click="change_bar('settings')">
                <md-icon class="icon" style="padding-left: 2px; color: #095028">
                    settings
                </md-icon>
                <br/>
                Configurações
            </md-button>
        </div>
        <span style="flex: 1"></span>
        <div v-if="!user.type && user.email && user.root">
            <h3 style="color: #095028">Data inicial:</h3>
        </div>
        <div v-if="!user.type && user.email && user.root" style="margin-left: 5px">
            <md-datepicker v-model="initial_date_validate"
                           :md-open-on-focus="false"/>
        </div>
        <div v-if="!user.type && user.email && user.root" style="margin-left: 5px">
            <h3 style="color: #095028">Data final:</h3>
        </div>
        <div v-if="!user.type && user.email && user.root" style="margin-left: 5px">
            <md-datepicker v-model="final_date_validate"
                           :md-open-on-focus="false"/>
        </div>
        <div v-if="!user.type && user.email && user.root">
            <!--<md-button v-if="user.period.initialDate !== initial_date_validate || user.period.finalDate !== final_date_validate" class="md-raised">Salvar</md-button>-->
            <md-button disabled>Salvar</md-button>
        </div>


        <div v-if="user.type === 'doctorate' || user.type === 'master'">
            <md-button class="md-raised"
                       style="color: #C8E6C9; background-color: #095028"
                       v-if="active_bar === 'primary'">
                <md-icon>person</md-icon>
                <br>
                Informações básicas
            </md-button>
            <md-button style="color: #095028" v-else=""
                       @click="change_bar('primary')">
                <md-icon>person</md-icon>
                <br/>
                Informações básicas
            </md-button>
        </div>

        <div v-if="user.type === 'doctorate' || user.type === 'master'">
            <md-button class="md-raised"
                       style="color: #C8E6C9; background-color: #095028"
                       v-if="active_bar === 'id_doc'">
                <md-icon>account_box</md-icon>
                <br>
                Documento de identificação
            </md-button>
            <md-button style="color: #095028" v-else=""
                       @click="change_bar('id_doc')">
                <md-icon>account_box</md-icon>
                <br/>
                Documento de identificação
            </md-button>
        </div>

        <div v-if="user.type === 'doctorate' || user.type === 'master'">
            <md-button class="md-raised"
                       style="color: #C8E6C9; background-color: #095028;"
                       v-if="active_bar === 'photo'">
                <md-icon style="padding-left: 2px">photo_camera</md-icon>
                <br>
                Foto
            </md-button>
            <md-button style="color: #095028" v-else=""
                       @click="change_bar('photo')">
                <md-icon style="padding-left: 2px">photo_camera</md-icon>
                <br/>
                Foto
            </md-button>
        </div>

        <span style="flex: 1;"></span>

        <div v-if="!user.email">
            <md-icon style="color: #095028">person</md-icon>
            <label style="color: #095028">Email</label>
            <input v-model="login.email"
                   name="email"
                   type="text"
                   style="color: #095028">
            <br>
            <span v-if="validate.email" class="is-danger"
                  style="padding-left: 6em">Usuário não cadastrado.</span>
            <span v-else-if="validate.password" class="is-danger"
                  style="padding-left: 6em">Senha incorreta.</span>
            <span v-else=""
                  style="padding-left: 6em; background-color: #C8E6C9">  </span>
        </div>

        <div v-if="!user.email">
            <md-icon style="color: #095028">lock</md-icon>
            <label style="color: #095028">Senha</label>
            <input v-model="login.password"
                   name="password"
                   type="password"
                   style="color: #095028">
            <br>
            <span style="padding-left: 5em; color: #095028">Esqueceu a senha?</span>
        </div>

        <div v-if="!user.email">
            <md-button v-if="login.email && login.password" @click="logar"
                       style="color: #095028">
                Entrar
            </md-button>
            <md-button v-else="" disabled>Entrar</md-button>
            <br>
            <span class="is-danger" style="padding-left: 6em">  </span>
        </div>
        <div v-else="">
            <md-button class="md-icon-button">
                <md-icon style="color: #095028">exit_to_app</md-icon>
            </md-button>
        </div>
    </md-toolbar>

</template>
<script src="./Sidenav.js"></script>