<style lang="scss">
    @import "~vue-material/dist/theme/engine"; // Import the theme engine

    @include md-register-theme("default", (
            primary: #095028, // The primary color of your application
            accent:  md-get-palette-color(blue, A200) // The accent and secondary color
    ));

    @import "~vue-material/dist/theme/all";
</style>
<template>
    <div id="container">
        <div>
            <Sidenav></Sidenav>
        </div>
        <router-view></router-view>
    </div>
</template>
<script src="./App.js"></script>