<style>
    #position {
        position: absolute;
        padding: 5px 5px 5px 5px;
    }
    #centralize {
        padding: 20em 20em 20em 20em;
    }
    #messagepassword{
        border: 0px;
        position: relative;
        bottom: 20px;
    }
    #messageemail{
        border: 0px;
        position: relative;
        bottom: 20px;
    }
    .is-danger {
        color: #ef3f37;
        font-size: 12px;
    }
    .background {
        background-color: #E8F5E9;
    }
    .card_header {
        text-align: center;
        background-color: #095028;
        color:  #C8E6C9;
    }
</style>
<template>
    <div>
        <form novalidate>
            <md-card class="md-flex-50 md-flex-small-100" id="position" style="background-color: #C8E6C9; color: #095028">
                <md-card-header class="card_header">
                   <h2>Cadastre-se aqui:</h2>
                </md-card-header>
                <md-card-content>
                    <md-field>
                        <md-icon style="color: #095028">person</md-icon>
                        <label style="color: #095028">Email</label>
                        <md-input v-validate="'email'" data-vv-delay="1000" :class="{'input':true, 'is-danger' : errors.has('email')}"
                                  v-model="user.email"
                                  name="email"
                                  type="text"
                                  style="color: #095028">
                        </md-input>
                    </md-field>
                    <span v-show="errors.has('email') " class="is-danger" id="messageemail">{{ errors.first('email') }}</span>

                    <md-field>
                        <md-icon style="color: #095028">lock</md-icon>
                        <label style="color: #095028">Senha</label>
                        <md-input v-validate="'min:6|max:12'" data-vv-delay="1000" :class="{'input':true, 'is-danger' : errors.has('password')}"
                                  v-model="user.password"
                                  name="password"
                                  type="password"
                                  style="color: #095028">
                        </md-input>
                    </md-field>
                    <span v-show="errors.has('password') " class="is-danger" id="messagepassword">{{ errors.first('password') }}</span>
                </md-card-content>

                <md-card-actions>
                    <md-button @click="logar">Login</md-button>
                </md-card-actions>
            </md-card>
        </form>
        <BasicAlert></BasicAlert>
    </div>
</template>
<script src="./Login.js"></script>