<style>
</style>
<template>
    <div>
        <md-dialog ref="EditSubject"  style="color: #095028" :md-active.sync="active" :md-click-outside-to-close="false" :md-close-on-esc="false">
            <md-dialog-title style="text-align: center; background-color: #095028; color: white;  padding-bottom: 1em">
               Editar disciplina
            </md-dialog-title>
            <md-dialog-content>
                <md-field>
                    <label style="color: #095028">Nome da disciplina</label>
                    <md-input v-model="subject.label"></md-input>
                </md-field>
                <md-field>
                    <label style="color: #095028">Código da disciplina</label>
                    <md-input v-model="subject.code"></md-input>
                </md-field>

            </md-dialog-content>
            <md-dialog-actions>
                <md-button v-if="(validate.label !== subject.label || validate.code !== subject.code) && subject.label.length > 0" style="background-color: #095028; color: white" class="md-raised" @click="editSubject()">
                    Salvar
                </md-button>
                <md-button v-else="" disabled="" class="md-raised">
                    Salvar
                </md-button>
                <md-button style="color: #095028" @click="closeDialog()">
                    Cancelar
                </md-button>
            </md-dialog-actions>
            <loadingDialog></loadingDialog>
        </md-dialog>
    </div>
</template>
<script src='./editSubject.js'></script>